{% extends "jobtemplates/base.html" %}
{% load staticfiles %}
{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% bootstrap_messages %}

{% block jumbotron %}
        <div class="row">
        <form action="{% url 'jobtemplates:editJobTemplate' pk=object.pk %}" method="post" class="form">
            <div class="col col-md-6">
                {% csrf_token %}
                {% bootstrap_field form.name %}
                {% bootstrap_field form.description %}
                {% bootstrap_field form.run_types %}
                {% bootstrap_field form.project %}
                {% bootstrap_field form.playbook %}
                {% buttons %}
                    <button type="submit" class="btn btn-primary">
                        {% bootstrap_icon "ok" %} Save
                    </button>
                    <a href="{% url 'jobtemplates:index' %}" type="button" class="btn btn-default">
                        {% bootstrap_icon "remove" %} Cancel
                    </a>
                {% endbuttons %}
            </div>
            <div class="col col-md-6">
                {% bootstrap_field form.extra_variables %}

            </div>
        </form>
    </div>
        <link rel="stylesheet" href="{% static 'codemirror/lib/codemirror.css' %}">
    <link rel="stylesheet" href="{% static 'codemirror/theme/dracula.css' %}">
    <script src="{% static 'codemirror/lib/codemirror.js' %}"></script>
    <script src="{% static 'codemirror/mode/yaml/yaml.js' %}"></script>
 <script>

    var editor = CodeMirror.fromTextArea(document.getElementById("id_extra_variables"), {
      lineNumbers: true,
      mode: "yaml",
        theme: "dracula",
      matchBrackets: true
    });

    </script>
{% endblock jumbotron %}
{% block jsload %}
    {{ block.super }}
{% endblock jsload %}