{% extends "projects/base.html" %}
{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% bootstrap_messages %}

{% block jumbotron %}
    <div class="col col-md-6">
        <form action="{% url 'projects:createProject' %}" method="post" class="form">
            {% csrf_token %}
            {% bootstrap_form form %}
            {% buttons %}
                <button type="submit" class="btn btn-primary">
                    {% bootstrap_icon "ok" %} Create
                </button>
                <a href="{% url 'projects:index' %}" type="button" class="btn btn-default">
                    {% bootstrap_icon "remove" %} Cancel
                </a>
            {% endbuttons %}
        </form>
    </div>
{% endblock jumbotron %}