{% load staticfiles %}
{% load django_bootstrap_breadcrumbs %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    {#    <link rel="icon" href="../../favicon.ico">#}

    <title>Navbar Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    {#    <link href="../../dist/css/bootstrap.min.css" rel="stylesheet">#}
    {#    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">#}

    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <!-- Custom styles for this template -->
    <link href="{% static 'css/navbar.css' %}" rel="stylesheet">
</head>

<body data-feedly-mini="yes">

<div class="container">

    <!-- Static navbar -->
    {% block navbar %}
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                            aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href={% url 'dashboard:index' %}>AnsiblePower</a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav" id="navbarid">
                        {% block activetab %}
                            <li id="home"><a href={% url 'dashboard:index' %}>Home</a></li>
                            <li id="projects"><a href={% url 'projects:index' %}>Projects</a></li>
{#                            <li id="inventories"><a href={% url 'inventories:index' %}>Inventories</a></li>#}
                            <li id="jobtemplates"><a href="{% url 'jobtemplates:index' %}">JobTemplates</a></li>
                            <li id="contact"><a href="#">Contact</a></li>
                        {% endblock activetab %}
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                               aria-haspopup="true"
                               aria-expanded="false">Inventory <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href={% url 'inventories:index' %}>Inventory</a></li>
                                <li><a href={% url 'inventories:groupIndex' %}>Groups</a></li>
                                <li><a href="{% url 'inventories:hostIndex' %}">Hosts</a></li>
                                <li><a href="{% url 'inventories:credentialIndex' %}">Credentials</a></li>
                                <li role="separator" class="divider"></li>
                                <li class="dropdown-header">Nav header</li>
                                <li><a href="#">Separated link</a></li>
                                <li><a href="#">One more separated link</a></li>
                            </ul>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="./">Default <span class="sr-only">(current)</span></a></li>
                        <li><a href="../navbar-static-top/">Static top</a></li>
                        <li><a href="../navbar-fixed-top/">Fixed top</a></li>
                    </ul>
                </div>
                <!--/.nav-collapse -->
            </div>
            <!--/.container-fluid -->
        </nav>
    {% endblock navbar %}
    {% block breadcrumbs %}
        {% clear_breadcrumbs %}
        {% breadcrumb "Home" 'dashboard:index' %}
    {% endblock breadcrumbs %}

    {% block jumbotron %}
        {% render_breadcrumbs %}
    {% endblock jumbotron %}


</div>
<!-- /container -->

{% block jsload %}
    <script src="{% static 'js/jquery-1.11.3.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/projects.js' %}"></script>
    <script src="{% static 'js/ansiblePower.js' %}"></script>
{% endblock jsload %}
</body>
</html>
