{% extends "inventories/base.html" %}
{% load staticfiles %}
{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% bootstrap_messages %}
{% load django_bootstrap_breadcrumbs %}
{% block breadcrumbs %}
    {{ block.super }}
    {% if inv %}
        {% breadcrumb "Inventories" 'inventories:index' %}
        {% breadcrumb inv.name 'inventories:manageInventory' inv.pk %}
    {% else %}
        {#        TODO: need to add Host index#}
        {% breadcrumb "Hosts" 'inventories:groupIndex' %}
    {% endif %}
    {% breadcrumb object.name 'inventories:createHost' object.pk %}
{% endblock breadcrumbs %}
{% block jumbotron %}
    <div class="row">
        {% if inv %}
            <form action="{% url 'inventories:createHost' inv.pk %}" method="post" class="form">
        {% else %}
            <form action="{% url 'inventories:createHost' %}" method="post" class="form">
        {% endif %}
        <div class="row">
            <div class="col col-md-6">
                {% csrf_token %}
                {% bootstrap_field form.name %}
                {% bootstrap_field form.ipAddress %}
                {% bootstrap_field form.port %}
                {% bootstrap_field form.description %}
                {% bootstrap_field form.username %}
                {% bootstrap_field form.password %}
                {% bootstrap_field form.inventory field_class='hidden' show_label=False %}
                {% buttons %}
                    <button type="submit" class="btn btn-primary">
                        {% bootstrap_icon "ok" %} Create
                    </button>
                    {% if inv %}
                        <a href="{% url 'inventories:manageInventory' inv.pk %}" type="button" class="btn btn-default">
                            {% bootstrap_icon "remove" %} Cancel
                        </a>
                    {% else %}
                        <a href="{% url 'inventories:hostIndex' %}" type="button" class="btn btn-default">
                            {% bootstrap_icon "remove" %} Cancel
                        </a>
                    {% endif %}
                {% endbuttons %}
            </div>
            <div class="col col-md-6">
                {% bootstrap_field form.variables %}
            </div>
        </div>
        </form>
    </div>
    {% include 'inventories/codemirror.html' %}
{% endblock jumbotron %}
