{% extends "inventories/base.html" %}
{% load staticfiles %}
{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% bootstrap_messages %}
{% load django_bootstrap_breadcrumbs %}
{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb "Credentials" 'inventories:credentialIndex' %}
    {% breadcrumb 'New Credential' 'inventories:createCredential' %}
{% endblock breadcrumbs %}
{% block jumbotron %}
    {{ block.super }}
    <div class="row">
        <form action="{% url 'inventories:createCredential' %}" method="post" class="form">
            <div class="row">
                <div class="col col-md-6">
                    {% csrf_token %}
                    {% bootstrap_field form.name %}
                    {% bootstrap_field form.description %}
{#                    {% bootstrap_field form.keyOrPassword %}#}
                    {{ form.keyOrPassword.label_tag }}
                    <div>
                        {% for radio in form.keyOrPassword %}
                            <div class="radio-inline">
                                {{ radio }}
                            </div>
                        {% endfor %}
                    </div>
                    {% bootstrap_field form.username form_group_class="hidden" %}
                    {% bootstrap_field form.password form_group_class="hidden" %}
                    <br/>
                    {% buttons %}
                        <button type="submit" class="btn btn-primary">
                            {% bootstrap_icon "ok" %} Save
                        </button>
                        <a href="{% url 'inventories:credentialIndex' %}" type="button" class="btn btn-default">
                            {% bootstrap_icon "remove" %} Cancel
                        </a>
                    {% endbuttons %}
                </div>
                <div class="col col-md-6">

                </div>
            </div>
        </form>
    </div>
{% endblock jumbotron %}
{% block jsload %}
    {{ block.super }}
    <script src="{% static 'js/createCredential.js' %}"></script>
{% endblock jsload %}