{% extends "inventories/base.html" %}
{% load staticfiles %}
{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% bootstrap_messages %}

{% block jumbotron %}
    <div class="row">
        <form action="{% url 'inventories:createHost' inv_pk %}" method="post" class="form">
            <div class="row">
            <div class="col col-md-6">
                {% csrf_token %}
                {% bootstrap_field form.name %}
                {% bootstrap_field form.ipAddress %}
                {% bootstrap_field form.port %}
                {% bootstrap_field form.description %}
                {% bootstrap_field form.username %}
                {% bootstrap_field form.password %}
                {% bootstrap_field form.inventory %}
                {% buttons %}
                    <button type="submit" class="btn btn-primary">
                        {% bootstrap_icon "ok" %} Create
                    </button>
                    <a href="{% url 'inventories:manageInventory' inv_pk %}" type="button" class="btn btn-default">
                        {% bootstrap_icon "remove" %} Cancel
                    </a>
                {% endbuttons %}
            </div>
            <div class="col col-md-6">
                {% bootstrap_field form.variables %}
            </div>
            </div>
        </form>
    </div>
    {% include 'inventories/codemirror.html' %}
{% endblock jumbotron %}
