{% extends "inventories/base.html" %}
{% load staticfiles %}
{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% bootstrap_messages %}
{% load django_bootstrap_breadcrumbs %}
{% block breadcrumbs %}
    {{ block.super }}
    {% if inv %}
        {% breadcrumb "Inventories" 'inventories:index' %}
        {% breadcrumb inv.name 'inventories:manageInventory' inv.pk %}
    {% else %}
        {% breadcrumb "Hosts" 'inventories:hostIndex' %}
    {% endif %}
    {% breadcrumb object.name 'inventories:editHost' object.pk %}
{% endblock breadcrumbs %}
{% block jumbotron %}
    {{ block.super }}
    <div class="row">
        <form action="{% url 'inventories:editHost' pk=object.pk %}" method="post" class="form">
            <div class="row">
                <div class="col col-md-6">
                    {% csrf_token %}
                    {% bootstrap_field form.name %}
                    {% bootstrap_field form.ipAddress %}
                    {% bootstrap_field form.port %}
                    {% bootstrap_field form.description %}
                    {% bootstrap_label "Credentials" %}
                    <div class="row">
                        <div class="col col-md-6">
                            {% bootstrap_field form.credentials form_group_class="form-group" show_label=False %}
                        </div>
                        <div class="col col-md-3">
                            <button id="showpublickkey" type="button" class="btn btn-default"
                                    data-container="body" data-toggle="popover"
                                    data-placement="top">
                                Show PublicKey
                            </button>
                        </div>
                    </div>
                    {% bootstrap_field form.inventory form_group_class="hidden" %}
                    <div class="row">
                        <div class="col-md-6">
                            {% buttons %}
                                <button type="submit" class="btn btn-primary">
                                    {% bootstrap_icon "ok" %} Save
                                </button>
                                {% if inv %}
                                    <a href="{% url 'inventories:manageInventory' inv.pk %}" type="button"
                                       class="btn btn-default">
                                        {% bootstrap_icon "remove" %} Cancel
                                    </a>
                                {% else %}
                                    <a href="{% url 'inventories:hostIndex' %}" type="button" class="btn btn-default">
                                        {% bootstrap_icon "remove" %} Cancel
                                    </a>
                                {% endif %}
                            {% endbuttons %}
                        </div>
                    </div>
                </div>
                <div class="col col-md-6">
                    {% bootstrap_field form.variables %}
                </div>
            </div>
        </form>
    </div>
    {% include 'inventories/codemirror.html' %}
{% endblock jumbotron %}
{% block jsload %}
    {{ block.super }}
    <script src="{% static 'js/editHost.js' %}"></script>
{% endblock jsload %}