{% extends "inventories/base.html" %}
{% load django_bootstrap_breadcrumbs %}
{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb "Groups" 'inventories:groupIndex' %}
{% endblock breadcrumbs %}
{% block jumbotron %}
    {{ block.super }}
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-success alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span></button>
            {{ message|safe }}
            </div>
        {% endfor %}
    {% endif %}
    <div id="group-index-data">
        <div class="col-md1 col-md-offset-11" align="right">
            <a href={% url 'inventories:createGroup' %} type="button" class="btn btn-info">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add
            </a>
        </div>
        <div>
            <div class="bs-example" data-example-id="hoverable-table">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Name</th>
                        <th>Modified</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for object in object_list %}
                        <tr id="row{{ object.pk }}" class="collapse in">
                            <th scope="row">{{ page_obj.start_index|add:forloop.counter|add:"-1" }}</th>
                            <td><a href="{% url 'inventories:manageGroup' object.pk %}">{{ object.name }}</a></td>
                            <td>{{ object.date_modified|date:"Y-m-d H:i:s" }}</td>
                            <td>
                                <button id="deletebutton{{ object.pk }}" type="button"
                                        class="btn btn-default btn-xs"
                                        data-target=".bs-example-modal-sm" data-pk="{{ object.pk }}"
                                        data-name="{{ object.name }}"
                                        data-posttarget="/inventories/deletegroup/">
                                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                </button>
                                <a href="{% url 'inventories:editGroup' object.pk %}" class="btn btn-default btn-xs">
                                    <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    {% include 'projects/pagination.html' %}
    {% include 'projects/modalConfirm.html' %}
{% endblock jumbotron %}
