{% extends 'inventories/base.html' %}
{% load staticfiles %}
{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% bootstrap_messages %}
{% block jumbotron %}
    <div class="row">
        <div class="col col-md-5">
            <div class="text-center">
                Hosts in group {{ object.name }}
            </div>
            <form id="{{ object.pk }}" method="post" action="{% url 'inventories:manageGroup' object.pk %}">
                {% csrf_token %}
                {{ form.hosts }}
                {% bootstrap_field form.name field_class='hidden' show_label=False %}
                {% bootstrap_field form.inventory field_class='hidden' show_label=False %}
                {% bootstrap_field form.variables %}
                {% buttons %}
                    <button type="submit" id="saveMultiselect" class="btn btn-primary">
                        {% bootstrap_icon "ok" %} Save
                    </button>
                    <a href="{{ request.META.HTTP_REFERER }}" type="button" class="btn btn-default">
                        {% bootstrap_icon "remove" %} Cancel
                    </a>
                {% endbuttons %}
            </form>
        </div>
        <div class="col col-md-2">
            {#            <button type="button" id="search_rightAll" class="btn btn-block"><i class="glyphicon glyphicon-forward"></i>#}
            {#            </button>#}
            <button type="button" id="search_leftSelected" class="btn btn-block"><i
                    class="glyphicon glyphicon-chevron-left"></i></button>
            <button type="button" id="search_rightSelected" class="btn btn-block"><i
                    class="glyphicon glyphicon-chevron-right"></i></button>

            {#            <button type="button" id="search_leftAll" class="btn btn-block"><i class="glyphicon glyphicon-backward"></i>#}
            {#            </button>#}
        </div>
        <div class="col col-md-5">
            <div class="text-center">
                Avalible hosts
            </div>
            <select name="to[]" id="search_to" class="form-control" size="8" multiple="multiple">
                {% for all_host in all_hosts %}
                    <option value="{{ all_host.pk }}">{{ all_host.name }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    {% include 'inventories/codemirror.html' %}
{% endblock jumbotron %}
{% block jsload %}
    {{ block.super }}
    <script src="{% static 'js/multiselect.js' %}"></script>
    <script src="{% static 'js/multiselectPost.js' %}"></script>

{% endblock jsload %}