{% extends 'inventories/base.html' %}
{% load django_bootstrap_breadcrumbs %}
{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb "Inventories" 'inventories:index' %}
    {% breadcrumb object.name 'inventories:manageInventory' object.pk %}
{% endblock breadcrumbs %}
{% block jumbotron %}
    {{ block.super }}
    <div class="row">
        <div class="col col-md-1">
            <a href={% url 'inventories:createGroup' object.pk %} type="button" class="btn btn-info">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add
            </a>
        </div>
        <div class="col col-md-1 col-md-offset-10">
            <a href={% url 'inventories:createHost' object.pk %} type="button" class="btn btn-info">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col col-md-6">
            <h3>Groups</h3>
            {% for group in group_list %}
{#                <a href="{% url 'inventories:editHost' host.pk %}">{{ host }}</a>#}
                <a href="{% url 'inventories:manageGroup' pk=group.pk inv_id=object.pk %}"> {{ group.name }}</a>
            {% endfor %}
        </div>
        <div class="col col-md-6">
            <h3 align="right">Hosts</h3>
            {% for host in hosts_list %}
                <a href="{% url 'inventories:editHost' host.pk %}">{{ host }}</a>
            {% endfor %}
        </div>
    </div>

{% endblock jumbotron %}